// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

// .debug {
//   border: 1px dotted red;
//   height: 100%;
// }

// UTILS

.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
